/* Global Styles */

HTML{
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: "helvetica"*/;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: darkslategrey;
    background-color: white;
}

h1 {
    font-size: 3rem;
    margin: 0px;
    margin-bottom: 24px;
}

p {
    font-size: 1.5rem;
}

    ul a:link{color:  darkslategrey;}
    ul a:visited{color: orange;}
    ul a:hover{background-color: darkslategrey; color: aqua;}

    p a:link{color:  whitesmoke;}
    p a:visited{color: orange;}
    p a:hover{color: aqua;}

    .tile_items p a:link{color:  blue; text-decoration: none}
    .tile_items p a:visited{color: orange;}
    .tile_items p a:hover{color: aqua;}
    

.width_container{
    padding: 0px 24px;
}


/* Hero content styles */

.main_container1{
    padding: 16px 0px;
}

header{
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    height: 32px;
}

.header_nav{
    display: flex;
    align-items: center;
    height: 32px; 
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    padding-left: 24px;
}

.full_width_backing{
    width: 100%;
    background-color:lightgray;
}

.hero{
    display: flex;
}

.desk_hero{
    width: 60%;
    height: 80%;
    padding: 32px 24px;
}

.hero_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
     padding: 32px 24px 32px 0px;
}

.start_button{
    Width: 80%;
    background-color: darkslategray;
    margin-top: 2rem;
}

.start_button p {
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
}


/* Praciticing Content */

.practicing_holder {
    display: flex;
    width:100%
}

.reading_section{
    flex: 60%;
    padding: 2rem 1.5rem 2rem 1.5rem;
}

.reading{
    width: 100%;
    margin-bottom: 32px;
}

#name{
    font-size: 1rem;
    margin-bottom: 0px;
}

.practicing_tiles{
    flex: 35%;
    flex-direction: column;
}


.tiles {
    display: flex;
    border: 1px solid lightgrey;
}

.tiles img {
    width: 35%;
    height: auto;
    padding: 16px;
}

.tile_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tile_items p{
    margin: 0.5rem 0rem;
}

.tile_items h2{
    margin: 0.5rem 0rem;
}

.tile3{
    background-color: lightgray;
}

/* Start section */

.start_section{
    background-color: lightgray;
}

.start_section h1{
    margin: 0px;
    text-align: center;
    padding-top: 2rem;
}

.flex_container{
    display:flex;
    flex-flow: wrap;
    padding: 0px 42px;
    height: auto;
}

.start_items{
    width: 532px;
    margin: 2rem;
    background-color: white;
    color: slategray;
}

.item_text{
    padding-left: 1rem;
    padding-bottom: 2rem;
}

/* start section */

.start_section img{
    display: none;
}
/* Thesis section */
.thesis_container h1{
    text-align: center;
    padding-top: 2rem;
}

.thesis_holder{
    display: flex;
}

.thesis_section{
    flex: 60%;
    margin: 0rem 1.5rem;
}

.vid_holder{
    width:100%;
}

.thesis_section h2{
    padding-top: 1.5rem;
}

.thesis_section p{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

/* Footer Section */

footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-top: 1px solid lightgray;
    
}

@media only screen and (min-width:601px){
.main_container2{
    display: none;        
}
    
}
@media only screen and (max-width:600px){
    body{
        background-color: aliceblue;
    }
    .main_container1{
        display: none;
    }
    
    .main_container2{
        display: flex;
        justify-content: space-around;
        height: 4rem;
        align-content: center;
        align-items: center;
    }
    
    .hero{
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    .desk_hero{
        width: 100%;
        padding: 0px;
    }
    
    .hero_items{
        padding: 2rem 1rem;
    }
    
    .hero_items h1{
        margin: 0px;
        padding: 0px;
    }
    .hero_items h2{
        margin: 0px;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
    .start_button{
        Width: 100%;
        background-color: darkslategray;
        margin-top: 1.5rem;
    }
    
    /* practicing section */
    
    .width_container{
        width: 100%;
        padding: 0px;
    }
    
    .practicing_holder{
        width: 100%;
    }
    
    .reading_section{
        display: none;
    }
    
    .practicing_tiles{
        width: 100%;
        border: none;
    }
    
    .tiles{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border: none;
    }

    .tiles img{
        width: Auto;
        padding: 0rem;
        margin: 0rem 1rem;
    }
    
    .tile_items{
        padding: 4rem 2rem;
    }
    
    .tiles.tile3{
        background-color: aliceblue;
    }
    
    .labels{
        display: none;
    }
    
    .item_text p{
        display: none;
    }
    
    .main_title{
        color: darkslategray;
    }
    
    .start_section{
    background-color: aliceblue;
}
    
    .start_section h1{
        padding: 2rem 0rem 0.5rem 0rem; 
    }
    
    .start_items{
        Margin: 0.5rem;
    }
    
    .item_text{
        padding: 1rem 1rem 2rem 1rem;
        background-color: lightgray;
    }
    
    .flex_container{
        padding-bottom: 2rem;
    }
    
    /*Thesis */
    
    .thesis_tiles{
        display: none;
    }
    
    .thesis_section{
        margin: 0rem;
    }
    .thesis_section h2 {
        display: none;
    }
    
    .vid_holder{
        margin-bottom: 1.5rem;
    }
    
        
    .thesis_section p{
        display: none;
    }
    
    /* footer */
    
    